<div class="slider">
	<div class="slide" *ngFor="let item of items">
		<div class="slide-bg">
			<img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/jpipejVjqn7ifln05xeq9zpvprf.jpg" alt="">
		</div>
		<div class="slide-pane">
			<h2 class="movie-name">
				{{item.title}}
			</h2>
			<div class="meta">
				<div class="info">
					<span class="rating">
						<span class="app-icon">star</span>
						<span class="rating-value">7.5</span>
						<span>/10</span>
					</span>
					<span>463 Reviews</span>
					<span>2022</span>
				</div>
			</div>
			<div class="description mt-6">
				Forçada a embarcar numa viagem até um festival de horror na Louisana com seu namorado, Laine começa a experienciar visões perturbadores associadas ao passado da cidade, em particular a uma lenda urbana local conhecida como o Creeper. Com a chegada do festival e o entretenimento sangrento se tornando um frenesi, Laine acredita que algo de outro mundo foi invocado... e ela está no centro de tudo.
			</div>
		</div>
	</div>
</div>
