<div class="container">
	<h2>Trending</h2>
	<div class="grid">
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
		<div class="col-12 md:col-3 lg:col-2">
			<app-movie-item>

			</app-movie-item>
		</div>
	</div>
</div>

